body {
    background: linear-gradient(to bottom, #00ccdf, #ffde59);
    background-size: cover; /* ensure the background covers the entire viewport */
    font-family: 'Roboto', sans-serif; /* use Roboto font, fallback to sans-serif */
    margin: 0;
    width: 100vw; /* set body width to 100% of viewport width */
}

.game-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    border: 2px solid #45a049;
    border-radius: 5px;
}

.dice-container {
    text-align: center;
    margin-bottom: 20px;
}

.dice_regular, .dice_inactive, .dice_animation {
    display: inline-block;
    margin: 5px;
    width: 95px;
    height: auto;
    border: 2px ridge rgba(211, 220, 50, .0);
}

.lockedDice {
    display: inline-block;
    margin: 5px;
    width: 95px;
    height: auto;
    opacity: 0.75;
    border-width: 2px;
    border-style: solid;
    border-color: #45a049;
    border-radius: 12px;
}

#throwDisplay {
    margin-bottom: 5px;
}

.roll-button {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #45a049;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 24, 8, 0.2);
}

.roll-button:hover {
    background-color: #6ac054;
    transform: scale(1.05); /* increase size by 5% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* add a slight shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* add smooth transition */
}

.bottom-container {
    padding: 20px;
    border: 2px solid #45a049;
    border-radius: 5px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(2fr 2fr 1fr 1fr 1fr 1fr); /* define the widths of the columns */
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 5px;
    padding: 5px; /* add padding to the grid container for breathing room */
    margin: auto;

    grid-template-areas:
            "1 a . . . . "
            "2 p . . . . "
            "3 c . . . . "
            "4 d . . . . "
            "5 e . . . . "
            "6 f s q b r"
            "7 g . . . . "
            "8 h . . . . "
            "9 i . . . . "
            "10 j . . . . "
            "11 k . . . . "
            "12 l . . . . "
            "13 m . . . . "
            "14 n . . . . "
            "15 o . . t u";
}

/* adjust alignment for score fields */
.grid-item {
    display: flex;
    align-items: center; /* vertically center the text */
}


.txtbox {
    border: 1px solid #45a049;
    border-radius: 5px;
    margin: 5px;
    margin-left: 5px; /* adjust margin-left to move the text boxes to the left */
    height: 24px;
    width: 90%;
    
    align-items: right;
    box-sizing: border-box; /* ensures padding and border are included in width */
    vertical-align: bottom; /* align input boxes to the bottom */
    justify-self: end; /* Align the text boxes to the right within their grid cells */
    background-color: white;
    color: black;
}

.inputSelected {
    border: 1px solid #45a049;
    border-radius: 5px;
    margin: 5px;
    margin-left: 5px; /* adjust margin-left to move the text boxes to the left */
    height: 24px;
    width: 90%;
    
    align-items: right;
    box-sizing: border-box; /* ensures padding and border are included in width */
    vertical-align: bottom; /* align input boxes to the bottom */
    justify-self: end; /* Align the text boxes to the right within their grid cells */

    background: linear-gradient(to right, #45a049, #6ac054);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* add a slight shadow */
}


/*_________________________________________*/
#id-1s {
    grid-area: 1;
}
#id-2s {
    grid-area: 2;
}
#id-3s {
    grid-area: 3;
}
#id-4s {
    grid-area: 4;
}
#id-5s {
    grid-area: 5;
}
#id-6s {
    grid-area: 6;
}
#id-one-pair {
    grid-area: 7;
}
#id-two-pair {
    grid-area: 8;
}
#id-three-same {
    grid-area: 9;
}
#id-four-same {
    grid-area: 10;
}
#id-full-house {
    grid-area: 11;
}
#id-small-straight {
    grid-area: 12;
}
#id-large-straight {
    grid-area: 13;
}
#id-chance {
    grid-area: 14;
}
#id-yatzy {
    grid-area: 15;
}
#id-sum {
    grid-area: s;
}
#id-bonus {
    grid-area: b;
}
#id-total {
    grid-area: t;
}
#id-1s-text {
    grid-area: a;
}
#id-2s-text {
    grid-area: p;
}
#id-3s-text {
    grid-area: c;
}
#id-4s-text {
    grid-area: d;
}
#id-5s-text {
    grid-area: e;
}
#id-6s-text {
    grid-area: f;
}
#id-one-pair-text {
    grid-area: g;
}
#id-two-pair-text {
    grid-area: h;
}
#id-three-same-text {
    grid-area: i;
}
#id-four-same-text {
    grid-area: j;
}
#id-full-house-text {
    grid-area: k;
}
#id-small-straight-text {
    grid-area: l;
}
#id-large-straight-text {
    grid-area: m;
}
#id-chance-text {
    grid-area: n;
}
#id-yatzy-text {
    grid-area: o;
}
#id-sum-text {
    grid-area: q;
}
#id-bonus-text {
    grid-area: r;
}
#id-total-text {
    grid-area: u;
}